
.not{
    border-style: none;
    margin-left: 30px;
}

.imgPerfil{
    height: 30px;
}

.btnPerfil{
    border-style: none;
    margin-left: 30px;
}

.barraLogado{
    width: 100%;
    display: grid;
    position: fixed;
    top: 0;
    grid-template-columns: 1fr 1.5fr 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: #f3f0ed;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    grid-template-rows: 1fr max-content
}

.barraLogado > img{
    margin: auto;
    height: 80px;
}




