*{
    padding: 0px;
    margin: 0px;
}
html,
body {
    background-color: #962F2F;
    min-height: 100%
}



.titulo{
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 30px;
    font-family: Helvetica;
}

.descricao{
    font-family: Helvetica;
    font-size: 15px;
    color: #C65A37;

}


.Button1{
    border-radius: 10px;
    width: 10vw;
    height: 2vw;
    margin-top: 1vw;  
    outline: none;
    background-color: aliceblue;
    border: solid #ECC096 2px;
}

#root{
    background-color: #962F2F;
}

.Conteiner {
    margin-top: 1vw;
    background-color: white;
    width: 30vw;
    height: 40vw !important;
    border-radius: 3vh;
    margin-left: 35vw;
    padding: 5vh;
    text-align: center; 
}

.alinhamento1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
}

.seta {
    margin-right: 8px; 
}

.voltar, .titulo, .descricao, .input1, .input2, .input3, .input6, .recall-forget, .Button1, .signup-link {
    width: 100%; 
    text-align: left; 
    margin: 0; 
    margin-top: 2px !important;
    padding-left: 0; 
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%; 
    box-sizing: border-box; 
}