* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #962F2F;
    min-height: 100%;
    overflow: hidden; 
}

.titulo {
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
}

.descricao {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 15px !important;
    color: #C65A37;
}

.Button1 {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-top: 10px; 
    outline: none;
    background-color: aliceblue;
    border: solid #ECC096 2px;
}

#root {
    background-color: #962F2F;
}

.Conteiner {
    margin-top: 20px;
    background-color: #F3F0ED;
    width: 430px; 
    height: 500px;
    border-radius: 20px; 
    margin-left: calc(50% - 150px); 
    padding: 40px;
    text-align: center;
    position: relative; 
}

.alinhamento1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.seta {
    margin-right: 8px;
}

.voltar{
    font-size:  1.1vw;
    color: #962F2F !important;
    text-decoration: none;

}

.voltar, .titulo, .descricao, .input1, .input2, .input3, .input6, .recall-forget, .Button1, .signup-link {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-top: 5px; 
    padding-left: 0;
}



input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    height: 2vw;
    border-color: #ECC096;
    border-radius: 8px;
    outline: none;
    border: 2px solid #ECC096; 
    box-shadow: none; 
    background-color: transparent;
}

input[type="password"]{
    width: 185px !important;
    display: flex;
}

.senhaCadastro{
    float: inline-start;
}