body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f0ed !important;
}

#root{
    width: 100%;
}

.unsBtn{
    width: max-content;
}

.btnETD{
    border: none;
    font-weight: 500;
    margin: 20px;
}

.desafios a {
    text-decoration: none;
    color: black;
}

.pesquisa{
    width: 100% !important;
    border-radius: 50px;
    height: 35px;
    background-color: transparent;
}
.btnlogin{
    border-color: #C65A37;
    background-color: transparent;
    color: #C65A37;
    font-weight: 600;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    margin-left: 40px;
}

.btncadastro{
    border: none;
    background-color: #C65A37;
    margin-left: 20px;
    font-weight: 600;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    color: white;
}

.eventos{
    display: flex;
    justify-content: left;
    gap: 20px;
    background-color: #f3f0ed;
    margin-left: 28px;
    margin-top: 40%;
}

.eventos div{
    max-width: 390px;
    height: 167px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 36px;
    flex: 1 0 390px;
    border-radius: 19px;
    background-color: #C65A37;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: 600;
}
