*{
    padding: 0px;
    margin: 0px;
}
html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


.Conteiner{
    margin-top: 3vw;
    background-color: white !important;
    width: 65vh;
    height: 40vh;
    margin-bottom: 2rem;
    border-radius: 3vh;
    margin-left: 32vw;
    padding: 5vh;
    text-align: center;
}

.titulo{
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: Helvetica, Arial, sans-serif;

}

input[type="email"], input[type="string"]{
    width: 100%;
    margin-top: 0.5rem;
    box-sizing: border-box;
    height: 40px;
    border-color: #ECC096;
    border-radius: 8px;
    outline: none;
    margin-bottom: 1rem;
    border: 2px solid #ECC096; 
    box-shadow: none; 
    background-color: transparent;
    font-family: Helvetica, Arial, sans-serif;

}



input[type="checkbox"]{
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.form{
    background-color: aliceblue !important;
}

.recall-forget{
    color: #000000;
    padding-left: 0.5rem;
    font-family: Helvetica, Arial, sans-serif;

}

.BTNcontinuarLogin{
    border-radius: 30px;
    width: 190px;
    margin-top: 35px;
    height: 45px;
    text-align: center; 
    outline: none;
    background-color: #962F2F;
    border: none;
    font-size: 15px;
}

.BTNcontinuarLogin a {
    text-decoration: none;
    color: white;
}

.forget-link{
    margin-top: 15px;
}

.forget-link a {
    color: #c65a37;
}


.naoTemConta{
    margin-top: 30px;
}

.naoTemConta a {
    color: #c65a37;
}





