@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.geral{
  text-align: center;
  background-color: white;
 
}

.Title1{
  text-align: center;
  margin-bottom: none;
  margin-top: 9vw;
}

.Title2{
  text-align: center;
}

*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}